.container {
  max-width: 800px;
}

.Weather .weather-wrapper {
  max-width: 600 px;
  margin: 40px auto;
}

.Weather {
  padding: 40px;
  border: 1px solid #9aa0a5;
  border-radius: 5px;
  background: rgb(154, 160, 166, 0.9);
}

.Weather .WeatherInfo {
  margin-bottom: 20px;
}
.Weather canvas {
  margin: 10px auto;
}
.Weather .temperature {
  color: #212121;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
}

.Weather .unit {
  position: relative;
  font-size: 20px;
  top: -19px;
}
.Weather .weather-temperature .active {
  color: #212121;
  cursor: default;
  text-decoration: none;
}
.Weather .weather-temperature .active:hover {
  text-decoration: none;
}
.Weather .weather-temperature .inactive {
  text-decoration: none;
}
.Weather .weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.Weather .weather-forecast-date {
  font-size: 18px;
  color: #fafafa;
}
.Weather .weather-forecast-temperature-max {
  color: #9f1861;
}
.Weather .weather-forecast-temperature-min {
  color: #27296d;
}
.Weather .credits {
  color: #fafafa;
}
.Weather #description {
  color: #212121;
}
.Weather .a {
  text-decoration: none;
}
